body {
    font-family: Arial, sans-serif;
    margin: 0 auto black;
    padding: 100px;
    background-color: #f0f0f0;
    
    }

  .container{
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
      background-color: white;
      border-radius: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1
      );
   }
  
  form {
    display: grid;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  button {
    padding: 15px 20px;
    background-color: #E97305;
    color: rgb(255, 255, 255,);
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  a{
    color: white;
  }
  button:hover {
    background-color: #0056b3;
  }
  select{
    width: 150px;
  }
  .submit{
color: white;
}

label{
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.right{
  justify-content: flex-end;
}
.left{
  justify-content: flex-start;
}
.border{
  border-bottom: 2px solid black;
  margin: 2px 0;
  padding-bottom: 2px;

}
section{
  padding-top: 10px;
}
.space{
  padding-bottom: 20px;
}
.rowspace{
  padding-right: 3px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #E97305;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  text-align: left;
  padding: -10px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #555;
}


#RiskAssessments1{
height: 50px;
}
#RiskAssessments2{
height: 50px;
}

body .short{
  max-width: fit-content;
}
.title{
        background-color: #E97305;
        color: white;
    }
    
th{
  border-style: solid;
  padding: 10px;
  text-align: center;
  background-color: #E97305;
  text-align: center;
  align-items: center;
  border: 3px solid black;
}

table td{
text-align: center;
border: 2px solid black;

}

table input[type="text"]{
  border-radius: 0%;
  width: 100%;
  box-sizing: border-box;
  height: 100%;

}
table{
  border-collapse: collapse;
  border: 2px solid black;
}

.containerwide{
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table tbody th{
  background-color: lightgray;
}
input[type="date"]{
  box-sizing: border-box;
  width: 100%;
  border-radius: 0%;
}